* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #180025;
  overflow: hidden;
  display: flex;
}

img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 300px;
  max-height: 500px;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 500;
  font-size: 60px;
  color: #e0b6f7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.fadeIn {
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    transform: translate(0, 0);
  }
}

.fadeOut {
  animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}
